body {
  background-color: #0093b8;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  text-align: center;
}

.Card {
  display: block;
  border-radius: 2px;
  margin: 8px;
  padding: 12px;
  position: relative;
  list-style: none;
  max-width: 15%;
  max-height: 30%;
  min-height: 30%;
  min-width: 15%;
}


